@use '../../scss/index' as *;

.background-about-page {
  width: 100%;
  z-index: -1;
  position: absolute;
  object-fit: cover;
}

@include mobile {
  .background-about-page {
    height: 100vh;
  }
}
