@use '../../../../scss/index' as *;

.home-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  @include padding-control;

  .image-galery {
    width: 55%;

    .galery-content {
      margin-left: -4em;
      figure {
        img {
          object-fit: cover;
          width: 100%;
          height: 100vh;
          max-height: 700px;
        }
      }
    }
  }

  .home-description {
    width: 45%;
    text-align: end;
    padding-left: 2em;
    margin-top: calc(5em + #{$header-height});
    h1 {
      font-size: 3.5em;
      display: block;
    }

    p {
      margin: 3em 0;
    }
  }
}

.custome-buttom {
  border: 1px solid #222;
  padding: 0.5em 2em;
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
}

.home-search {
  margin-left: -70% !important;
  width: 170% !important;
}

@media only screen and (max-width: 1180px) {
  .home-content {
    .image-galery {
      width: 65%;
    }

    .home-description {
      width: 45%;
    }
  }
}

@media only screen and (max-width: 1015px) {
  .home-content {
    .image-galery {
      width: 50%;
    }

    .home-description {
      width: 50%;
    }
  }
}

@include mobile {
  .home-content {
    flex-direction: column;
    align-items: center;
    .image-galery {
      width: 100%;
      .galery-content {
        margin: 0 -1em;
        figure {
          img {
            height: 50vh;
          }
        }
      }
    }

    .home-description {
      width: 100%;
      text-align: center;
      padding-left: 0;
      margin-top: 2em;
      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1em;
      }
    }
  }

  .home-search {
    margin-left: 0 !important;
    width: 100% !important;
    text-align: start;
  }
}
