@use '../../../../scss/index' as *;

.services {
  background-image: url('../../../../assets/images/plane.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
  @include padding-control;

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 3em;
    margin-top: 5em;

    .services__item {
      width: calc(100% / 4 - 4em);
      min-width: 220px;
      background: #fff;
      @include box-shadow;
      border-radius: 10px;
      height: 300px;
      padding: 1em;
      display: flex;
      flex-direction: column;
      text-align: center;

      div {
        margin-bottom: 1.5em;

        img {
          width: 60px;
          height: 60px;
          object-fit: contain;
          margin-bottom: 1.5em;
        }
      }
    }
  }
}

@include mobile {
  .services {
    background-image: none;
    background-color: #fff;

    &__content {
      .services__item {
        width: 100%;
        height: auto;
        padding: 3em;
        margin-bottom: 3em;
      }
    }
  }
}
