@use '../../scss/index' as *;

.footer {
  background: #f7f7f7;
  padding: $padding-desktop;

  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: $black;
    }

    li {
      margin-bottom: 1em;
    }
  }

  .footer-content {
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    gap: 2em;

    section {
      display: flex;
      flex-direction: column;
      width: calc(100% / 4 - 4em);

      h3 {
        margin-bottom: 1.3em;
      }

      i {
        color: $pri-color;
      }
    }

    .summary {
      margin-top: -0.3em;
      h3 {
        font-family: 'Merienda-Bold';
        color: $pri-color;
        font-size: 1.3em;
      }

      p {
        margin-top: -0.7em;
      }

      .social {
        margin-top: 1em;
        a {
          margin-right: 1em;
          i {
            color: $black;
          }
        }
      }
    }

    .contact {
      margin-left: -3em;
      li {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }

    .executive {
      flex-direction: row;
      width: calc(100% / 4 + 1em);
      gap: 1em;
      text-align: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .footer-copyright {
    text-align: center;
    padding: 2em 0;
    border-top: 1px solid #222;

    a {
      color: $pri-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .footer {
    padding: 0 3em;
  }

  .quick-link {
    width: auto !important;
  }
}

@media only screen and (max-width: 900px) {
  .footer-content {
    justify-content: space-around !important;

    section {
      margin: 0;
    }

    .quick-link,
    .contact {
      margin-left: -10em !important;
    }
  }
  .executive {
    width: 100% !important;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 750px) {
  .contact {
    margin-left: 0 !important;
  }
}

@include mobile {
  .footer {
    padding: $padding-mobile;
    .footer-content {
      justify-content: flex-start !important;
      section {
        width: 100%;
        margin-bottom: 2em;
      }

      .summary {
        text-align: center;
      }

      .contact {
        width: calc(100% / 2 - 1em);
        margin: 0 !important;
        ul {
          display: flex;
          flex-direction: column;
          gap: 1em;
        }
      }

      .quick-link {
        width: calc(60% / 2 - 1em);
        margin: 0 !important;
        ul {
          display: flex;
          flex-direction: column;
          gap: 1em;
        }
      }

      .executive {
        width: 100%;
        gap: 1em;
      }
    }
  }
}
