.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5em;
  .box {
    width: calc(50% - 1em);
    display: flex;
    flex-direction: column;
  }

  .submit,
  .message {
    width: 100%;
    button {
      width: 30%;
      margin-top: 1em;
    }
  }
}
