// colors
$txt-color: #222;
$pri-color: #30942c;
$sec-color: #0099ff;

$white: #fff;
$black: #000;

// shadows
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// borders
$border-radius: 32px;

// breakpoints rules
$mobile-widht: 600px;

// padding and margin rules
$padding-desktop: 0 6em;
$padding-mobile: 0 2em;

// header
$header-height: 5em;
